@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: 50px auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 2;
}

.hero {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../images/Banner_Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px;
    color: white;
    border-radius: 10px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.subheading {
    font-size: 32px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.heading {
    font-size: 72px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

/* =======   discount section */

.discount {
    text-align: center;
}

.off {
    font-size: 60px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px
}

.holiday {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.categories {
    text-transform: uppercase;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.img {

    width: 65%;
    margin: 50px auto
}

.img img {
    width: 100%
}

/* midnight party */

.midnight {
    color: white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('../images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    height: 90vh;
    display: flex;

}

.midnight-text {
    width: 60%;
    margin: auto 20px;

}

.midnight-text h3 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.5;

}

.midnight-text p {
    margin-bottom: 20px;
}

.midnight-img {
    width: 40%;
    margin: auto auto;
}

.midnight-img img {
    width: 80%;
}

.midnight button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer
}

.midnight button:hover {
    border: 1px solid white;
}


/* venue section */

.venue {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 60vh;
    background-image: linear-gradient(rgba(253, 0, 0, 0.205), rgba(255, 255, 255, 1.0));
    border-radius: 10px;
    padding: 80px 0 20px;

}

.venue p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 32px;
}

.venue-col {
    color: red
}

.venue button {
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer
}

.venue button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}



/* offer section */

.offer {

    display: flex;
}

.coming {
    width: 33%;
    margin: 90px 0
}

.coming h4 {
    color: red;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.coming h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.coming p {
    width: 90%;
    font-size: 14px;
    line-height: 1.5;
}

.offer-img {
    width: 33%
}

.offer-img img {
    width: 80%;
    border: 10px solid red;
    border-radius: 50%;
    padding: 20px;
    margin-left: 20px;
}

.year-2024 {
    width: 33%;
    margin: 90px 0
}

.year-2024 h4 {
    color: red;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.year-2024 p {
    width: 90%;
    line-height: 1.5;
    margin-bottom: 20px;
}

.year-2024 img {
    width: 100px
}

/* holiday sales */

.holiday-sale-text {
    text-align: center;
}

.holiday-sale h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.holiday-sale h2 {
    font-family: merriweather;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;

}

.holiday-sale p {
    width: 60%;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
}

.holiday-sale-img {
    background-image: url('../images/Rectangle_2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    margin-top: 50px;
    padding-bottom: 60px;
}

.img1 {
    width: 50%;
}


.img2 {
    width: 50%;
    position: relative
}

.girl {
    width: 60%;
    margin-left: 215px;
}


.discount-badge {
    position: absolute;
    left: 60px;
    top: 20px;
    width: 250px
}

.popcorn {
    width: 100%
}


/* portfolio */

.portfolio {
    max-width: 80%;
    margin: 50px auto
}

.portfolio-text h4 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-bottom: 10px;
}

.portfolio-text h3 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}


.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.portfolio-img img {
    max-width: 32%;
    margin: 0 auto;
    transition: transform 0.5s ease;
}

.portfolio-img img:hover {
    transform: scale(1.2);
}



/* subscribe */

.subscribe {
    text-align: center;
    max-width: 80%;
    margin: 50px auto;
    background-color: bisque;
    border-radius: 10px;
    padding: 50px 0;
}

.subscribe img {
    width: 100px
}

.subscribe h3 {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.subscribe p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    width: 80%;
    margin: 20px auto;
}

.subscribe input {
    padding: 15px;
    width: 300px;
    background-color: lightgray;
    border: none;
    border-radius: 50px 0 0 50px;

}

.subscribe button {
    padding: 15px 40px;
    border-radius: 0 50px 50px 0;
    background-color: red;
    border: none;
    margin-left: -4px;
    color: white
}

/* footer */

footer {
    background-color: #070211;
    color: white;
    padding: 50px 100px;
    font-family: "Merriweather", serif;
    margin-bottom: 50px;
}

.address p {
    margin-bottom: 10px;
}

.sect1 {
    display: flex;
    justify-content: space-between;
}

.tel-web {
    margin-bottom: 20px;
}

.call {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.web {
    display: flex;
    gap: 5px
}

hr {
    border: none;
    border-bottom: 1px solid lightgray;
}

.social {
    margin: 20px 0;
    text-align: center;
}

.social img {
    width: 50px;
    margin-right: 20px;
}

.copy {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}